<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiran.dao.CategoryMapper" >
  <resultMap id="BaseResultMap" type="com.yiran.pojo.Category" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="imgUrl" property="imgUrl" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, description, imgUrl
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_category
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_category
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.yiran.pojo.Category" >
    insert into t_category (id, name, description, 
      imgUrl)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{imgUrl,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yiran.pojo.Category" >
    insert into t_category
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="imgUrl != null" >
        imgUrl,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        #{imgUrl,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiran.pojo.Category" >
    update t_category
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null" >
        imgUrl = #{imgUrl,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiran.pojo.Category" >
    update t_category
    set name = #{name,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      imgUrl = #{imgUrl,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <!--  根据游戏id查询分类信息  -->
  <select id="findByGameId" parameterType="string" resultType="com.yiran.pojo.Category">
    select c.*
    from t_category c, t_game_category gc
    where gc.game_id = #{value} and gc.category_id = c.id;
  </select>


  <!--  根据游戏id查询分类信息  -->
  <select id="findIdByGameId" parameterType="string" resultType="int">
    select c.id
    from t_category c, t_game_category gc
    where gc.game_id = #{value} and gc.category_id = c.id;
  </select>

    <!--  查询所有  -->
    <select id="findAll" resultType="com.yiran.pojo.Category">
        select * from t_category
    </select>


    <!--  插入数据到 t_game_category 表中, 建立游戏-分类的关联关系  -->
  <insert id="connectWithGame" parameterType="java.util.Map">
      insert into t_game_category(game_id, category_id) values(#{gameId}, #{categoryId})
  </insert>


    <!--  删除中间表数据  -->
    <delete id="disconnectWithGame" parameterType="int">
        delete from t_game_category where category_id = #{value}
    </delete>

    <!--  通过名字进行查询 通过PageHelper进行分页 -->
    <select id="findPageByName" parameterType="string" resultType="com.yiran.pojo.Category">
        select * from t_category where name like #{value}
    </select>

    <!--  查询所有, 通过PageHelper进行分页  -->
    <select id="findPage" resultType="com.yiran.pojo.Category">
        select * from t_category
    </select>

  <!--  通过名称查询  -->
  <select id="findByName" parameterType="string" resultType="com.yiran.pojo.Category">
    select * from t_category where name = #{value}
  </select>

    <!--  通过游戏id查询分类数据  -->
    <select id="findPageByGameId" parameterType="string" resultType="com.yiran.pojo.Category">
        select * from t_category tc, t_game_category tgc where tgc.game_id= #{value} and tc.id = tgc.category_id
    </select>

</mapper>