<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiran.dao.CharacterMapper" >
  <resultMap id="BaseResultMap" type="com.yiran.pojo.Character" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="chara" property="chara" jdbcType="VARCHAR" />
    <result column="score" property="score" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, chara, score
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_character
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_character
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.yiran.pojo.Character" >
    insert into t_character (id, chara, score
      )
    values (#{id,jdbcType=VARCHAR}, #{chara,jdbcType=VARCHAR}, #{score,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.yiran.pojo.Character" >
    insert into t_character
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="chara != null" >
        chara,
      </if>
      <if test="score != null" >
        score,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="chara != null" >
        #{chara,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        #{score,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.yiran.pojo.Character" >
    update t_character
    <set >
      <if test="chara != null" >
        chara = #{chara,jdbcType=VARCHAR},
      </if>
      <if test="score != null" >
        score = #{score,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yiran.pojo.Character" >
    update t_character
    set chara = #{chara,jdbcType=VARCHAR},
      score = #{score,jdbcType=INTEGER}
    where id = #{id,jdbcType=VARCHAR}
  </update>

    <!--  直接进行分页查询  -->
    <select id="findPage" resultType="com.yiran.pojo.Character">
        select * from t_character
    </select>

    <!--  通过游戏id进行分页查询  -->
    <select id="findPageByGameId" parameterType="string" resultType="com.yiran.pojo.Character">
        select tc.*
        from t_character tc, t_game tg, t_game_character tgc
        where tg.id = #{value} and tg.detail_id = tgc.game_detail_id and tgc.character_id = tc.id
    </select>

    <!--  通过游戏详情id进行查询  -->
    <select id="findPageByDetailGameId" parameterType="string" resultType="com.yiran.pojo.Character">
         select tc.*
        from t_character tc,t_game_character tgc
        where tgc.game_detail_id = #{value} and tgc.character_id = tc.id
    </select>

    <!--  通过id删除  -->
    <delete id="deleteByList" parameterType="list">
        delete from t_character
        <where>
            <foreach collection="array" open="id in(" close=")" item="id" separator=",">
                #{value}
            </foreach>
        </where>
    </delete>

  <!--  删除与 detailGame的 关联关系  -->
  <delete id="disconnectWithDetailGame" parameterType="string">
    delete from t_game_character tgc where character_id = #{value}
  </delete>

  <!--  通过detailGame的id删除其关联的所有 character数据  -->
  <delete id="deleteByDetailGameId" parameterType="string">
    delete from t_character tc where id in (select t_game_character.id from t_game_character where id = #{value})
  </delete>

</mapper>