<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.yiran.dao.CheckGroupMapper">

    <!--  查询分页数据  -->
    <select id="findPage" parameterType="String" resultType="com.yiran.pojo.CheckGroup">
        select * from t_checkgroup
        <if test="value != null and value.length > 0">
            where code = #{value} or name = #{value} or helpCode = #{value}
        </if>
    </select>

    <!--  插入数据并返回主键  -->
    <insert id="add" parameterType="com.yiran.pojo.CheckGroup">
        <!--通过mybatis框架提供的selectKey标签获得自增产生的ID值-->
        <!-- 会封装到参数对象中  -->
        <selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_checkgroup(code,name,sex,helpCode,remark,attention)
        values
        (#{code},#{name},#{sex},#{helpCode},#{remark},#{attention})
    </insert>

    <!--  添加数据到中间表  -->
    <insert id="connectWithItem" parameterType="java.util.Map">
        insert  into t_checkgroup_checkitem
        values
        (#{groupId},#{checkitemId})
    </insert>

    <!--  查询被依赖信息  -->
    <select id="selectCountWithSetmeal" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select count(*) from t_setmeal_checkgroup where checkgroup_id = #{value}
    </select>


    <!--  删除与检查项的依赖关系  -->
    <delete id="disconnectItem" parameterType="java.lang.Integer">
        delete from t_checkgroup_checkitem where checkgroup_id = #{value}
    </delete>


    <!--  删除检查组信息  -->
    <delete id="delete" parameterType="java.lang.Integer">
        delete from t_checkgroup where id = #{value}
    </delete>


    <!--  通过id查询检查项  -->
    <select id="findById" parameterType="java.lang.Integer" resultType="com.yiran.pojo.CheckGroup">
        select * from t_checkgroup where id = #{value}
    </select>


    <!--  修改检查组的信息  -->
    <update id="edit" parameterType="com.yiran.pojo.CheckGroup">
        update t_checkgroup
        <set>
            <if test="code != null">
                code = #{code},
            </if>
            <if test="name != null">
                code = #{name},
            </if>
            <if test="helpCode != null">
                code = #{helpCode},
            </if>
            <if test="sex != null">
                code = #{sex},
            </if>
            <if test="remark != null">
                code = #{remark},
            </if>
            <if test="attention != null">
                code = #{attention},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--  查询checkgroup与checkitem所关联的ids集合  -->
    <select id="findItemIds" parameterType="java.lang.Integer" resultType="java.lang.Integer">
        select checkitem_id from t_checkgroup_checkitem where checkgroup_id = #{value}
    </select>


    <!--  查询所有  -->
    <select id="findAll" resultType="com.yiran.pojo.CheckGroup">
        select * from t_checkgroup
    </select>



    <!--  通过setmealId查询checkGroup(详细信息)  -->
    <resultMap type="com.yiran.pojo.CheckGroup" id="baseResultMap">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="code" property="code"/>
        <result column="helpCode" property="helpCode"/>
        <result column="sex" property="sex"/>
        <result column="remark" property="remark"/>
        <result column="attention" property="attention"/>
    </resultMap>
    <resultMap type="com.yiran.pojo.CheckGroup"
               id="findByIdResultMap"
               extends="baseResultMap">
        <collection property="checkItems"
                    javaType="ArrayList"
                    ofType="com.yiran.pojo.CheckItem"
                    column="id"
                    select="com.yiran.dao.CheckItemMapper.findCheckItemById">
        </collection>
    </resultMap>
    <!--根据套餐id查询检查项信息-->
    <select id="findCheckGroupById" parameterType="int" resultMap="findByIdResultMap">
       select * from t_checkgroup
        where id
       in (select checkgroup_id from t_setmeal_checkgroup where setmeal_id=#{id})
    </select>


</mapper>


<!--
<selectKey resultType="java.lang.Integer" order="AFTER" keyProperty="id">
    SELECT LAST_INSERT_ID()
</selectKey>
-->