<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GameList</title>
    <meta name="description" content="permission">
    <meta name="keywords" content="permission">
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../plugins/elementui/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <!-- 引入组件库 -->
    <script src="../js/vue.js"></script>
    <script src="../plugins/elementui/index.js"></script>
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script src="../js/axios-0.18.0.js"></script>
    <script src="../js/healthmobile.js"></script>
    <style>
        .datatable {
            position: relative;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            width: 100%;
            max-width: 100%;
            font-size: 14px;
            color: rgb(96, 98, 102);
            overflow: hidden;
            flex: 1 1 0%;
        }
        .datatable td, .datatable th {
            padding: 12px 0;
            min-width: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
            text-overflow: ellipsis;
            vertical-align: middle;
            position: relative;
            text-align: left;
        }
    </style>
</head>
<body class="hold-transition">
<div id="app">
    <div class="content-header">
        <h1>游戏管理<small>游戏列表</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>游戏管理</el-breadcrumb-item>
            <el-breadcrumb-item>游戏列表</el-breadcrumb-item>
        </el-breadcrumb>
    </div>
    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <!--  实际上需要通过游戏原名和游戏的中文名进行查询  -->
                <el-input placeholder="游戏名" v-model="pagination.queryString" style="width: 200px;" class="filter-item"></el-input>
                <el-button @click="findQueryPage()" class="dalfBut">查询</el-button>
                <!--  添加一个对框, 设置是否通过分类名称进行查询  -->

                <!--  添加两个单选框, 控制排序方式  -->

                <el-button type="primary" class="butT" @click="handleCreate()">新建游戏</el-button>
            </div>
            <!--  列表数据展示  -->
            <el-table size="small" style="width: 100%" current-row-key="id" :data="gameList" stripe highlight-current-row>

                <el-table-column type="index" align="center" label="序号" width="50"></el-table-column>

                <el-table-column prop="name" label="游戏名称(英文)" align="center" width="400"></el-table-column>

                <el-table-column prop="chsName" label="游戏名称(中文)" align="center" width="300"></el-table-column>

                <el-table-column prop="capacity" label="容量" align="center" width="100"></el-table-column>

                <el-table-column prop="downloadCount" label="下载数" align="center" width="80"></el-table-column>
                
                <el-table-column prop="watchCount" label="查看数" align="center" width="80"></el-table-column>

                <el-table-column prop="originUrl" label="原始链接" align="center" width="200"></el-table-column>

                <el-table-column prop="downloadUrl" label="下载链接" align="center" width="220"></el-table-column>

                <el-table-column  label="是否有效" align="center" width="50">
                    <template slot-scope="scope">
                        <span >{{ scope.row.active }}</span>
                    </template>
                </el-table-column>

                <el-table-column label="操作" align="center" width="150">
                    <template slot-scope="scope">
                        <!--  包括游戏详情信息的修改  -->
                        <el-button type="primary" size="mini" @click="handleUpdate(scope.row)">修改游戏信息</el-button>
                        <el-button size="mini" type="danger" @click="handleDelete(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>

            <!--  分页插件  -->
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @current-change="handleCurrentChange"
                        :current-page="pagination.currentPage"
                        :page-size="pagination.pageSize"
                        layout="total, prev, pager, next, jumper"
                        :total="pagination.total">
                </el-pagination>
            </div>

            <!-- 新增标签弹层 -->
            <div class="add-form">
                <el-dialog title="新增游戏" :visible.sync="dialogFormVisible">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="游戏基本信息" name="first">

                                <el-form ref="gameAddForm" :model="gameFormData" :rules="rules" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="游戏名称" prop="name">
                                                <el-input v-model="gameFormData.name"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="游戏中文名称">
                                                <el-input v-model="gameFormData.chsName"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="游戏容量" prop="capacity">
                                                <el-input v-model="gameFormData.capacity"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="容量数值" prop="size">
                                                <el-input v-model="gameFormData.size"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="原下载链接" prop="originUrl">
                                                <el-input v-model="gameFormData.originUrl"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="下载链接">
                                                <el-input v-model="gameFormData.downloadUrl"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="8">
                                            <el-form-item label="是否有效">
                                                <el-input v-model="gameFormData.active"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="破解者">
                                                <!--  封装时需要将decoderName封装到gameFormData中  -->
                                                <el-input v-model="gameFormData.decoderName"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="游戏详情信息" name="second">

                                <el-form ref="gameAddForm" :model="gameDetailFormData" :rules="rules" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="游戏发行时间">
                                                <el-input v-model="gameDetailFormData.presentTime"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="开发商">
                                                <el-input v-model="gameDetailFormData.development"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="发行商">
                                                <el-input v-model="gameDetailFormData.deliver"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="平台">
                                                <el-input v-model="gameDetailFormData.platform"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="版本">
                                                <el-input v-model="gameDetailFormData.version"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="18">
                                            <el-form-item label="文字语言">
                                                <el-input v-model="gameDetailFormData.backgroundLanguage"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="18">
                                            <el-form-item label="语音语言">
                                                <el-input v-model="gameDetailFormData.voiceLanguage"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="游戏介绍">
                                                <el-input v-model="gameDetailFormData.introduction" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="游戏分类" name="third">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>分类名称</th>
                                            <th>分类描述</th>
                                            <th>分类的图片url</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in categoryData">
                                            <td>
                                                <input :id="c.id" v-model="categoryId" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                            <td><label :for="c.id">{{c.imgUrl}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <!--  对于游戏特色的修改功能比较麻烦, 先不进行实现, 之后版本实现  -->
                            <!--<el-tab-pane label="游戏特色" name="forth">-->
                                <!--<el-form-item>-->
                                    <!--<el-button @click="addChara">新增特色</el-button>-->
                                <!--</el-form-item>-->
                                <!--<el-form-item-->
                                        <!--v-for="(character, index) in characterList"-->
                                        <!--:label="'特色' + index"-->
                                        <!--:key="character.id"-->
                                        <!--:rules="{required: true, message: '游戏特色不能为空', trigger: 'blur'}">-->
                                    <!--<el-input v-model="character.chara"></el-input>-->
                                    <!--<el-button @click.prevent="removeChara(character)">删除</el-button>-->
                                <!--</el-form-item>-->
                            <!--</el-tab-pane>-->

                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible = false">取消</el-button>
                        <el-button type="primary" @click="handleAdd()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

            <!-- 编辑标签弹层 -->
            <div class="add-form">
                <el-dialog title="编辑角色" :visible.sync="dialogFormVisible4Edit">
                    <template>
                        <el-tabs v-model="activeName" type="card">
                            <el-tab-pane label="游戏基本信息" name="first">

                                <el-form ref="gameAddForm" :model="gameFormData" :rules="rules" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="游戏名称" prop="name">
                                                <el-input v-model="gameFormData.name" :disabled="true"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="游戏中文名称">
                                                <el-input v-model="gameFormData.chsName"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="游戏容量" prop="capacity">
                                                <el-input v-model="gameFormData.capacity"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="容量数值" prop="size">
                                                <el-input v-model="gameFormData.size"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="原下载链接" prop="originUrl">
                                                <el-input v-model="gameFormData.originUrl" :disabled="true"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="下载链接">
                                                <el-input v-model="gameFormData.downloadUrl"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="8">
                                            <el-form-item label="是否有效">
                                                <el-input v-model="gameFormData.active"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="10">
                                            <el-form-item label="破解者">
                                                <!--  封装时需要将decoderName封装到gameFormData中  -->
                                                <el-input v-model="gameFormData.decoderName"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="游戏详情信息" name="second">

                                <el-form ref="gameAddForm" :model="gameDetailFormData" :rules="rules" label-position="right" label-width="100px">
                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="游戏发行时间">
                                                <el-input v-model="gameDetailFormData.presentTime"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="开发商">
                                                <el-input v-model="gameDetailFormData.development"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="发行商">
                                                <el-input v-model="gameDetailFormData.deliver"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="12">
                                            <el-form-item label="平台">
                                                <el-input v-model="gameDetailFormData.platform"/>
                                            </el-form-item>
                                        </el-col>
                                        <el-col :span="12">
                                            <el-form-item label="版本">
                                                <el-input v-model="gameDetailFormData.version"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="18">
                                            <el-form-item label="文字语言">
                                                <el-input v-model="gameDetailFormData.backgroundLanguage"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="18">
                                            <el-form-item label="语音语言">
                                                <el-input v-model="gameDetailFormData.voiceLanguage"/>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>

                                    <el-row>
                                        <el-col :span="24">
                                            <el-form-item label="游戏介绍">
                                                <el-input v-model="gameDetailFormData.introduction" type="textarea"></el-input>
                                            </el-form-item>
                                        </el-col>
                                    </el-row>
                                </el-form>
                            </el-tab-pane>

                            <el-tab-pane label="游戏分类" name="third">
                                <div class="checkScrol">
                                    <table class="datatable">
                                        <thead>
                                        <tr>
                                            <th>选择</th>
                                            <th>分类名称</th>
                                            <th>分类描述</th>
                                            <th>分类的图片url</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr v-for="c in categoryData">
                                            <td>
                                                <input :id="c.id" v-model="categoryId" type="checkbox" :value="c.id">
                                            </td>
                                            <td><label :for="c.id">{{c.name}}</label></td>
                                            <td><label :for="c.id">{{c.description}}</label></td>
                                            <td><label :for="c.id">{{c.imgUrl}}</label></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </el-tab-pane>

                            <!--  对于游戏特色的修改功能比较麻烦, 先不进行实现, 之后版本实现  -->
                            <!--<el-tab-pane label="游戏特色" name="forth">-->
                            <!--<el-form-item>-->
                            <!--<el-button @click="addChara">新增特色</el-button>-->
                            <!--</el-form-item>-->
                            <!--<el-form-item-->
                            <!--v-for="(character, index) in characterList"-->
                            <!--:label="'特色' + index"-->
                            <!--:key="character.id"-->
                            <!--:rules="{required: true, message: '游戏特色不能为空', trigger: 'blur'}">-->
                            <!--<el-input v-model="character.chara"></el-input>-->
                            <!--<el-button @click.prevent="removeChara(character)">删除</el-button>-->
                            <!--</el-form-item>-->
                            <!--</el-tab-pane>-->

                        </el-tabs>
                    </template>
                    <div slot="footer" class="dialog-footer">
                        <el-button @click="dialogFormVisible4Edit = false">取消</el-button>
                        <el-button type="primary" @click="handleEdit()">确定</el-button>
                    </div>
                </el-dialog>
            </div>

        </div>
    </div>
</div>
</body>
<script>
    var vue = new Vue({
        el: '#app',
        data:{
            activeName:'first',//添加/编辑窗口Tab标签名称
            pagination: {//分页相关模型数据
                currentPage: 1,//当前页码
                pageSize:10,//每页显示的记录数
                total:0,//总记录数
                queryString:null//查询条件
            },
            gameList: [],//当前页要展示的分页列表数据
            gameFormData: {},// 游戏的表单数据
            gameDetailFormData: {}, // 游戏详情表单
            characterList: [], // 游戏特色
            categoryData:[],//新增和编辑表单中对应的权限列表数据
            categoryId:[],//新增和编辑表单中权限对应的复选框，基于双向绑定可以进行回显和数据提交;
            dialogFormVisible: false,//增加表单是否可见
            dialogFormVisible4Edit:false,//编辑表单是否可见
            rules: {//校验规则
                name: [{ required: true, message: '名字为必填项', trigger: 'blur' }],
                capacity: [{ required: true, message: '游戏大小为必填项', trigger: 'blur' }],
                size: [{ required: true, message: '游戏数值必填项', trigger: 'blur' }],
                originUrl: [{ required: true, message: '下载链接为必填项', trigger: 'blur' }]
            }
        },
        //钩子函数，VUE对象初始化完成后自动执行
        created() {
            this.findPage();//VUE对象初始化完成后调用分页查询方法，完成分页查询
        },
        methods: {
            //权限不足提示
            showMessage(r){
                if(r == 'Error: Request failed with status code 403'){
                    //权限不足
                    this.$message.error('无访问权限');
                    return;
                }else{
                    this.$message.error('未知错误');
                    return;
                }
            },
            //编辑
            handleEdit() {
                //进行表单校验  使用项目的data下的rule进行校验
                this.$refs['dataEditForm'].validate((valid) => {
                    if(valid){
                        // 需要对手机号码进行校验
                        if (!checkTelephone(this.gameFormData.telephone)) {
                            //弹出提示
                            this.$message.error("手机号格式错误,请进行检查!");
                            return false;
                        }

                        //表单校验通过，可以提交数据
                        axios.put("/FakeHouse-backer/user/edit.do?categoryId="+this.categoryId,this.gameFormData).then((res) => {
                            if(res.data.flag){
                                //弹出成功提示信息
                                this.$message({
                                    type:'success',
                                    message:res.data.message
                                });
                            }else{
                                //执行失败
                                this.$message.error(res.data.message);
                            }
                        }).catch((res)=>
                        {
                            // 修改失败,权限不足
                            this.showMessage(res);

                        }).finally(() => {

                            //不管成功还是失败，都调用分页查询方法
                            this.findPage();
                            //隐藏编辑窗口
                            this.dialogFormVisible4Edit = false;
                            // 重置表单数据
                            this.resetForm();
                        });

                    }else{
                        //表单校验不通过
                        this.$message.error("表单数据校验失败!");
                        return false;
                    }
                });
            },
            //添加
            handleAdd () {
                //进行表单校验
                this.$refs['gameAddForm'].validate((valid) => {

                    if(valid){
                        // 封装表单数据, 将两个map的数据合并起来
                        var gameData = {
                            "game": this.gameFormData,
                            "detailGame": this.gameDetailFormData
                        };
                        
                        //表单校验通过，发生ajax请求，将录入的数据提交到后台进行处理
                        axios.post("/FakeHouse-backer/game/add.do?categoryId="+this.categoryId, gameData).then((res) => {
                            if(res.data.flag){//执行成功
                                //关闭新增窗口
                                this.dialogFormVisible = false;

                                //新增成功后，重新调用分页查询方法，查询出最新的数据
                                this.findPage();
                                //弹出提示信息
                                this.$message({
                                    message:res.data.message,
                                    type:'success'
                                });
                            }else{//执行失败
                                //弹出提示
                                this.$message.error(res.data.message);
                            }
                        });
                    }else{
                        //校验不通过
                        this.$message.error("数据校验失败，请检查你的输入信息是否正确！");
                        return false;
                    }
                });
            },
            //分页查询
            findPage() {
                //发送ajax请求，提交分页相关请求参数（页码、每页显示记录数、查询条件）
                var param = {
                    currentPage:this.pagination.currentPage,
                    pageSize:this.pagination.pageSize,
                    queryString: this.pagination.queryString
                };
                axios.post("/FakeHouse-backer/game/findPageWithCount.do",param).then((res)=>{
                    if(res.data.flag) {

                        //解析Controller响应回的数据，为模型数据赋值
                        this.pagination.total = res.data.data.total;
                        this.gameList = res.data.data.rows;
                    }else
                    {
                        // 查询数据失败
                        this.$message.error(res.data.message);
                    }
                }).catch((bad)=> {
                    // 403处理
                    this.showMessage(bad);
                });
            },
            // 与findPage的区别是 该方法会将页数设置为1
            findQueryPage() {
                //发送ajax请求，提交分页相关请求参数（页码、每页显示记录数、查询条件）
                var param = {
                    currentPage:1,
                    pageSize:this.pagination.pageSize,
                    queryString: this.pagination.queryString
                };
                axios.post("/FakeHouse-backer/game/findPageWithCount.do",param).then((res)=>{

                    if (res.data.flag)
                    {
                        //解析Controller响应回的数据，为模型数据赋值
                        this.pagination.total = res.data.data.total;
                        this.gameList = res.data.data.rows;
                        this.pagination.currentPage = 1;
                    }else
                    {
                        // 查询数据失败
                        this.$message.error(res.data.message)
                    }
                }).catch((bad)=> {
                    // 403错误处理
                    this.showMessage(bad);
                });
            },
            // 重置表单
            resetForm() {
                this.gameFormData = {};
                this.gameDetailFormData = {};
                // 默认切换到第一个标签页
                this.activeName = "first";
                this.categoryId = [];
            },
            // 弹出添加窗口
            handleCreate() {
                // 清空上次的数据
                this.resetForm();
                // 查询数据
                this.findCategoryList();
                //弹出新增窗口
                this.dialogFormVisible = true;
            },
            // 弹出编辑窗口
            handleUpdate(row) {
                this.resetForm();
                //回显数据，发送ajax请求根据ID查询当前检查项数据
                axios.get("/FakeHouse-backer/game/findById.do?id=" + row.id).then((res) => {
                    if (res.data.flag) {
                        //进行回显，基于VUE的数据绑定实现
                        // res.data获取到返回的json对象的数据
                        this.gameFormData = res.data.data.game;
                        this.gameDetailFormData =  res.data.data.detailGame;

                        // 查询ids的数据
                        this.categoryId = [];
                        axios.get("/FakeHouse-backer/game/findCategoryId.do?id="+row.id).then((res)=> {
                            if (res.data.flag) {
                                //进行回显，基于VUE的数据绑定实现
                                this.categoryId = res.data.data;

                                // 此处显示编辑窗口,不然数据会到得有点晚
                                //弹出编辑窗口
                                this.dialogFormVisible4Edit = true;
                            } else {
                                //查询失败，弹出提示
                                this.$message.error(res.data.message);
                            }
                        }); // 不需要进行.catch编写,该反方的权限与findById的权限是一样的,如果外面的请求都失败了,则不会执行里面的语句

                        this.findCategoryList();

                    } else {
                        //查询失败，弹出提示
                        this.$message.error(res.data.message);
                        return;
                    }
                }).catch((res) => {
                    // 请求失败  发生异常
                    this.showMessage(res);
                });

            },
            //切换页码
            handleCurrentChange(currentPage) {
                //设置最新的页码
                this.pagination.currentPage = currentPage;
                //重新调用findPage方法进行分页查询
                this.findPage();
            },
            // 删除
            handleDelete(row) {
                //row其实是一个json对象
                //alert(row.id);
                // row.id的内容其实是没有显示出来的,但是它是存在的,在查询数据库的时候,就设置到了该对象中,只是没有将数据展示出来而已
                // 弹出确认框
                this.$confirm("你确定要删除当前数据吗？","提示",{//确认框
                    type:'warning'
                }).then(()=>{
                    //用户点击确定按钮，发送ajax请求，将检查项ID提交到Controller进行处理
                    axios.delete("/FakeHouse-backer/user/delete.do?id=" + row.id).then((res) => {
                        if(res.data.flag){
                            //执行成功
                            //弹出成功提示信息
                            this.$message({
                                type:'success',
                                message:res.data.message
                            });
                            //重新进行分页查询
                            this.findQueryPage();
                        }else{
                            //执行失败
                            this.$message.error(res.data.message);
                        }
                    }).catch((bres)=>
                    {
                        // 请求不成功,可能由于服务器异常或者客户端异常
                        // 处理403响应, 调用工具方法进行处理
                        this.showMessage(bres);
                    });
                }).catch(()=>{
                    this.$message({
                        type:'info',
                        message:'操作已取消'
                    });
                });
            },
            findCategoryList() {
                // 查询出permission的相关数据,否则无法进行添加
                axios.get("/FakeHouse-backer/game/findCategoryList.do").then((res)=> {
                    if (res.data.flag) {
                        // 查询到数据
                        this.categoryData = res.data.data;
                    }else {
                        this.$message.error(res.data.message);
                    }
                }).catch((bres)=>{
                    // 权限不足,或者是网络问题
                    this.showMessage(bres);
                });
            }
        }
    })
</script>
</html>